// Material Design

body {
  padding: 0;
  margin: 0;
  font-family: Roboto,"Helvetica Neue",Arial,sans-serif;
  background: $next-lgrey;
  -webkit-font-smoothing: antialiased;
  font-weight: 400;
}

.page {
  width: 100%;
  height: 100%;
  float: left;
  position: fixed;

  &__menu {
    width: 200px;
    background: $next-grey;
    height: 100%;
    border-right: 1px solid $next-mdgrey; // Changed from #BDBDBD;
    box-sizing: border-box;
    position: inherit;
    float: left;

    &__title {
      padding: 20px;
      font-weight: bold;
      font-size: 40px;
      text-align: center;
    }

    &__item {
      // TODO:- Flex Mixin
      @include flexParent();
      cursor: pointer;
      height: 48px;
      padding: 0px 16px;

      &:hover:not(.page__menu__item--active):not(.page__menu__item--disabled) {
        background: $next-mdgrey;
      }

      &--active {
        background: #F5F5F5;
        border-top: 1px solid $next-mdgrey;
        border-bottom: 1px solid $next-mdgrey;
        border-right: 1px solid #F5F5F5;
        font-weight: bold;
        cursor: default;
        width: calc(100% + 1px);
      }

      &--disabled {
        cursor: default;
      }
    }
  }

  &__content {
    padding: 20px;
    overflow-y: auto;
    height: calc(100% - 96px);

    &--menu {
      width: calc(100% - 200px);
      float: right;
      position: relative;
    }

    &__title {
      font-size: 30px;
    }
  }
}

.papermaterial {
  background: $next-white;
  position: relative;
  padding: 15px 15px 0 15px;
  float: left;
  margin: 0 0 15px 0;
  width: 100%;
  box-sizing: border-box;
  position: relative;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);

  &__title {
    border-bottom: 1px solid $next-primary;
    padding: 0 0 5px 0;
    font-size: 17px;
    color: #555;

    &--orange {
      border-bottom-color: $next-orange;
    }
    &--blue {
      border-bottom-color: $next-blue;
    }
  }

  &--fab {
    padding-bottom: 25px;
  }

  &__fab {
    position: absolute;
    left: calc(50% - 28px);
    bottom: -28px;
    background: $next-primary;
    width: 56px;
    height: 56px;
    display: inline-block;
    color: #fff;
    border-radius: 50%;
    cursor: pointer;
    vertical-align: middle;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
    transition: background .28s ease-out, box-shadow 0.28s cubic-bezier(0.4, 0, 0.2, 1);

    i {
      width: inherit;
      display: inline-block;
      text-align: center;
      color: #fff;
      font-size: 2rem;
      line-height: 56px;
      font-style: normal;
    }

    &:active {
      box-shadow: 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12), 0 5px 5px -3px rgba(0, 0, 0, 0.4);
      background: $next-primary-highlight;
    }
  }
}

.jumbotron {
  background-color: none;
}


.papermaterial--alert {
  padding: 0;
  display: flex;

  .alert__icon,
  .alert__message {
    float: left;
  }

  .alert__icon {
    display: flex;
    align-items: center;
    padding: 10px 15px;
    font-size: 27px;
  }

  .alert__message {
      margin: 19px 0 19px 17px;
  }

  .alert__message p {
    margin: 0;
  }

  &.papermaterial--warning .alert__icon {
    background: $next-warning;
  }

  &.papermaterial--danger .alert__icon {
    background: $next-danger;
  }

  .fa {
    color: #FFF;
    height: 30px;
    width: 30px;
  }

}

.page__content--orange {
  .papermaterial__title {
    border-bottom-color: $next-orange;
  }

  .button:last-child .button__input {
    background: $next-orange;
  }

  .papermaterial__fab {
    background: $next-orange;

    &:active {
      background: $next-orange-highlight;
    }
  }
}

.page__content--blue {
  .papermaterial__title {
    border-bottom-color: $next-blue;
  }

  .button:last-child .button__input {
    background: $next-blue;
  }

  .papermaterial__fab {
    background: $next-blue;

    &:active {
      background: $next-blue-highlight;
    }
  }
}

.page__content--purple {
  .papermaterial__title {
    border-bottom-color: $next-purple;
  }

  .button:last-child .button__input {
    background: $next-purple;
  }

  .papermaterial__fab {
    background: $next-purple;

    &:active {
      background: #FF9100;
    }
  }
}

.footer {
  position: fixed;
  bottom: 0;
  right: 0;

  &__env {
    padding: 4px 10px 4px 4px;
    margin: 0;
  }
}
