.customTable {
  thead {
    border-bottom: 2px solid #eceeef;

    th {
        border: none;
    }
  }

  &--selectable tbody {
    tr {
      cursor: pointer;

      &:hover {
        background-color: rgba(0, 0, 0, .1)
      }
    }
  }

  thead tr th.spanHeader {
    position: relative;

    &:before {
      content: '';
      display: block;
      position: absolute;
      top: 50%;
      left: 5px;
      width: calc(100% - 20px);
      z-index: 0;
      border: 1px dashed #CECECE;
    }

    span {
      background: #FFF;
      padding: 0 5px;
      z-index: 1;
      position: relative;
    }
  }

  &.table-hover tbody tr:hover {
    background-color: rgba(0,0,0,.02);
  }

  td {
    &.divide {
      &--left {
        border-left: 2px solid #eceeef;
      }
    }
  }
}

.datatable-pagination {
  display: flex;
  flex-flow: row wrap;
  align-items: center;

  &--input {
    width: 34px;
    border: $input-btn-border-width solid $input-border-color;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
  }
}

.diffTable {
  width: 100%;

  td {
    padding: 6px;
  }
  &--from {
    background-color: #ffecec;
  }
  &--from span {
    background-color: #f8cbcb;
  }
  &--to {
    background-color: #eaffea;
  }
  &--to span {
    background-color: #a6f3a6;
  }
}
