.customTable--selectable tbody {
  tr {
    cursor: pointer;

    &:hover {
      background-color: rgba(0, 0, 0, .1)
    }
  }
}

.datatable-pagination {
  display: flex;
  flex-flow: row wrap;
  align-items: center;

  &--input {
    width: 34px;
    border: $input-btn-border-width solid $input-border-color;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
  }
}

.diffTable {
  width: 100%;

  td {
    padding: 6px;
  }
  &--from {
    background-color: #ffecec;
  }
  &--from span {
    background-color: #f8cbcb;
  }
  &--to {
    background-color: #eaffea;
  }
  &--to span {
    background-color: #a6f3a6;
  }
}
