// Next Form Styles

.form-control {
    border-radius: none;
}

.button {
  display: inline-block;

  &__input {
    position: relative;
    min-width: 5.14em;
    margin: 0 0.29em;
    background: $next-white;
    text-transform: uppercase;
    outline-width: 0;
    border-radius: 3px;
    user-select: none;
    cursor: pointer;
    z-index: 0;
    padding: 0.7em 0.57em;
    font-family: 'Roboto', sans-serif;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
    transition: opacity .28s ease-out, box-shadow 0.28s cubic-bezier(0.4, 0, 0.2, 1);
    border: none;

    &:focus {
      box-shadow: 0 4px 5px 1px rgba(0, 0, 0, 0.14), 0 2px 10px 2px rgba(0, 0, 0, 0.12), 0 4px 3px -3px rgba(0, 0, 0, 0.4);
      opacity: 0.8;
    }

    &:active {
      box-shadow: 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12), 0 5px 5px -3px rgba(0, 0, 0, 0.4);
      opacity: 0.6;
    }

    &--header {
      padding: 6px 10px;
      margin: 0;
      box-shadow: none;
      border-radius: 0;
      min-width: 0;
      background: $next-instore-green;
      color: $next-white;
    }
  }

  &:last-child {
    .button__input:not(.button__input--header) { // TODO:- Can this be dried?
      color: #FFF;
      font-weight: bold;
      background: $next-primary;

      &.button__input--blue { background: $next-blue; }
      &.button__input--orange { background: $next-orange; }
      &.button__input--purple { background: $next-purple; }
    }
  }
}

a.button__input {
  display: inline-block;

  &:hover {
    text-decoration: none;
  }
}

.checkbox {
  &--nolabel {
    margin: 0;
    min-height: 1.2rem;
    padding-left: 1.2rem;
  }
}

.custom-checkbox {
  &--disabled {
    cursor: not-allowed;;
  }

  .custom-control-input {
    &:focus~.custom-control-indicator {
      &.green {
        box-shadow: 0 0 0 1px #fff, 0 0 0 3px #388E3C;
      }
      &.orange {
        box-shadow: 0 0 0 1px #fff, 0 0 0 3px #F57C00;
      }
    }

    &:disabled~.custom-control-indicator {
      background-color: #efefef;
    }

    &:checked {
      &:not(:disabled)~.custom-control-indicator {
        &.orange {
          background-color: #F57C00;
        }
        &.green {
          background-color: #388E3C;
        }
      }

      &:disabled~.custom-control-indicator {
        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3E%3Cpath fill='%230275d8' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3E%3C/svg%3E");
        &.green {
          background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3E%3Cpath fill='%23388E3C' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3E%3C/svg%3E");
        }
        &.orange {
          background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3E%3Cpath fill='%23F57C00' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3E%3C/svg%3E");
        }
      }
    }
  }
}

.custom-radio {
  &--disabled {
    cursor: not-allowed;
  }
}

// Page Colour Overrides
.page__content--orange {
  .button:last-child .button__input {
    background: $next-orange;
  }
}

.page__content--blue {
  .button:last-child .button__input {
    background: $next-blue;
  }
}

.page__content--purple {
  .button:last-child .button__input {
    background: $next-purple;
  }
}



/* Tooltip text */
.tooltiptext {
    visibility: hidden;
    padding: 4px 4px;
    margin: 1px;
    border-radius: 3px;
    z-index: 1;
    position: absolute;
    bottom: -17px;
    left: 13px;
    width: auto;
    white-space: nowrap;
    font-size: 15px;
    background-color: #ffad33;
    color: #fff;
}

.form-element {
  &:hover, &:focus {
    .tooltiptext {
      visibility: visible;
    }
  }
}

.formgroup--intable {
  margin-bottom: 0;
}

.fieldvalue {
  display: block;
  padding-bottom: 10px;
}

.inputlabel {
  margin-bottom: 0; // BS Reset.
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  color: #737373;
  display: block;
}

.customTable {
  .form-control {
    padding: .2rem .5rem;
  }
}

.checkboxkey {
  display: inline-block;
  width: 1rem;
  height: 1rem;
  pointer-events: none;
  user-select: none;
  background-color: #ddd;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50% 50%;
  border-radius: .25rem;

  &--enabled {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3E%3Cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3E%3C/svg%3E");
    color: #fff;
    background-color: #0275d8;

    &.checkboxkey {
      &--orange {
        background-color: #F57C00;
      }
      &--green {
        background-color: #388E3C;
      }
    }
  }

  &--disabled {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3E%3Cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3E%3C/svg%3E");

    &.checkboxkey {
      &--orange {
        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3E%3Cpath fill='%23F57C00' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3E%3C/svg%3E");
      }
      &--green {
        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3E%3Cpath fill='%23388E3C' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3E%3C/svg%3E");
      }
    }
  }
}
