// Progress Bar Animation

.progress {
  border-radius: 0;
  height: 7px;
  position: absolute;
  width: 100%;
  z-index: 1;
  background-color: transparent;
}

.progress-bar {
  transition: width .6s ease;
  height: 7px;
}
