/********
Next Theme
*********/

// Colors
//
// Grayscale and brand colors for use across Bootstrap.

// Start with assigning color names to specific hex values.
$black:  #000 !default;

// Reassign color vars to semantic color scheme
$brand-inverse:             $black;

// Modal widths
$modal-lg:                  90%;

// Next Theme Variables
// Colors
$next-white: #FFF;
$next-black: #000;
// $next-orange: #EF9D06;
// $next-blue: #538EAC;
// $next-dblue: #356077;
$next-lgrey: #F5F5F5;
$next-grey: #E0E0E0;
$next-mdgrey: #BDBDBD;
$next-dgrey: #212121;
$next-teal: #00bfa5;
// $next-text: $next-dgrey;
// $next-bg: #333333;
// $next-action: $next-orange;
$next-primary: $next-teal;
// $next-secondary: $next-orange;

// Notification colours;
$next-warning: #ffc107;
$next-danger: #F44336;


// Progress Bar Settings
$progessbar-height: 3px;
$progressbar-barwidth: 60%;
